socialweb.computer {
  root * /var/www/socialweb.computer
  encode gzip
  header {
    Cache-Control "no-cache"
  }
  file_server
}

digitalocean.socialweb.computer {
  reverse_proxy http://127.0.0.1:8000
}
